Package: ${project.artifactId}
Version: ${project.version}
Architecture: amd64
Section: misc
Priority: optional
Maintainer: Raoni Gabriel <me@gmail.com>
Depends:
Homepage: ${project.url}
Description: ${project.description}